# ECLAT

In [ ]:
!pip install pyECLAT

In [ ]:
base_mercado1 = pd.read_csv('mercado.csv', header = None)
base_mercado1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [ ]:
from pyECLAT import ECLAT
eclat = ECLAT(data = base_mercado1)

In [ ]:
eclat.df_bin

   cerveja  pao  cafe  feijao  leite  arroz  manteiga
0        1    1     0       0      1      0         1
1        0    1     1       0      0      0         1
2        0    1     1       0      0      0         1
3        0    1     1       0      1      0         1
4        1    0     0       0      0      0         0
5        0    0     0       0      0      0         1
6        0    1     0       0      0      0         0
7        0    0     0       1      0      0         0
8        0    0     0       1      0      1         0
9        0    0     0       0      0      1         0

In [ ]:
eclat.uniq_

[nan, 'cerveja', 'pao', 'cafe', 'feijao', 'leite', 'arroz', 'manteiga']

In [ ]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

3it [00:00, 110.13it/s]
3it [00:00, 132.27it/s]
1it [00:00, 71.19it/s]

Combination 1 by 1
Combination 2 by 2
Combination 3 by 3

In [ ]:
indices

{'cafe': [1, 2, 3],
 'cafe & manteiga': [1, 2, 3],
 'manteiga': [0, 1, 2, 3, 5],
 'pao': [0, 1, 2, 3, 6],
 'pao & cafe': [1, 2, 3],
 'pao & cafe & manteiga': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3]}

In [ ]:
suporte

{'cafe': 0.3,
 'cafe & manteiga': 0.3,
 'manteiga': 0.5,
 'pao': 0.5,
 'pao & cafe': 0.3,
 'pao & cafe & manteiga': 0.3,
 'pao & manteiga': 0.4}